@page "/addInvoice/{InvoiceId}"
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject ILaundryServiceService ServiceLaundry
@inject IInvoiceService InvoiceService
@inject ILocalStorageService LocalStorageService
@using System.Threading;


<h3>AddInvoice</h3>
@if (SpinnerVisible == true)
{
    <SfSpinner Visible="true" Type="@SpinnerType.Bootstrap4" Size="100" Label="Data loading"></SfSpinner>
}

@if (Laundries != null)
{
    <SfGrid @ref="laundryGrid" DataSource="@Laundries" AllowPaging="true" AllowSorting="true" AllowFiltering="true" Toolbar="Toolbaritems">
        <GridEvents OnToolbarClick="ToolbarClickHandler" CommandClicked="OnCommandClicked" TValue="LaundryService"></GridEvents>
        <GridPageSettings PageSize="10" PageCount="5" PageSizes="@pagerDropdown"></GridPageSettings>
        <GridFilterSettings Mode="FilterBarMode.Immediate" Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
        <GridEditSettings AllowEditing="true" AllowDeleting="true"></GridEditSettings>
        <GridColumns>
            <GridColumn IsPrimaryKey="true" Field=@nameof(LaundryService.Id) HeaderText="ID" Visible="false"></GridColumn>
            <GridColumn Field=Company.Name HeaderText="Client Name"></GridColumn>
            <GridColumn Field=@nameof(LaundryService.Number) HeaderText="Laundry Service Number"></GridColumn>
            <GridColumn Field=@nameof(LaundryService.RecievedDate) Format="d" HeaderText="Recieved Date" Type="ColumnType.Date"></GridColumn>
            <GridColumn Field=@nameof(LaundryService.IssuedDate) Format="d" HeaderText="Issued Date" Type="ColumnType.Date"></GridColumn>
            <GridColumn HeaderText="Actions" Width="150">
                <GridCommandColumns>
                    <GridCommandColumn ButtonOption="@(new CommandButtonOptions()
                                                               { Content = "Add To Invoice", CssClass = "e-flat" })"></GridCommandColumn>
                </GridCommandColumns>
            </GridColumn>
        </GridColumns>
    </SfGrid>
}

@code {
    [Parameter]
    public string InvoiceId { get; set; }
    private bool SpinnerVisible { get; set; }
    private List<LaundryService> Laundries { get; set; }
    private List<LaundryService> addLaundries = new List<LaundryService>();
    private List<Invoice> Invoices { get; set; }
    private Invoice Invoice { get; set; }
    string[] pagerDropdown = new string[] { "All", "5", "10", "15", "20" };
    private int laundryServiceId;
    private decimal totalCost;
    private SfGrid<LaundryService> laundryGrid { get; set; }
    private List<Object> Toolbaritems = new List<Object>() { new ItemModel() {Align = (Syncfusion.Blazor.Navigations.ItemAlign.Right),
        Text = "Add all", TooltipText = "Add all", Id = "AddAll" }, new ItemModel() {Align = (Syncfusion.Blazor.Navigations.ItemAlign.Right),
        Text = "Cancel/Back", TooltipText = "Cancel/Back", Id = "Cancel" }, new ItemModel() {Align = (Syncfusion.Blazor.Navigations.ItemAlign.Right),
        Text = "Finish/Create", TooltipText = "Finish/Create", Id = "Finish" }};

    //private string buttonTitle = "Add To Invoice";

protected override async Task OnInitializedAsync()
    {
        SpinnerVisible = true;
        Laundries = (await ServiceLaundry.GetAllLaundry()).Where(x => x.InvoiceId == 0).ToList();
        Invoices = (await InvoiceService.GetAllInvoices()).ToList();
        Invoice = await LocalStorageService.GetItem<Invoice>("invoice");
        SpinnerVisible = false;
    }

    public async Task OnCommandClicked(CommandClickEventArgs<LaundryService> args)
    {

        if (args.CommandColumn.ButtonOption.Content == "Add To Invoice")
        {
            LaundryService laundryService = new LaundryService();
            laundryService = args.RowData;
            laundryService.InvoiceId = int.Parse(InvoiceId);
            await ServiceLaundry.UpdateLaundry(laundryService);
            totalCost += laundryService.TotalBrutto;
            addLaundries.Add(laundryService);

            Laundries = (await ServiceLaundry.GetAllLaundry()).Where(x => x.InvoiceId == 0).ToList();
            laundryGrid.Refresh();

        }

    }
    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {

        if (args.Item.Id == "AddAll")
        {
            decimal totalBruttoCost = 0;

            foreach (var laundry in Laundries)
            {
                totalBruttoCost += laundry.TotalBrutto;
                laundry.InvoiceId = int.Parse(InvoiceId);
                await ServiceLaundry.UpdateLaundry(laundry);

            }
            Invoice.TotalCost = totalBruttoCost;
            await InvoiceService.UpdateInvoice(Invoice);
            navigationManager.NavigateTo("/invoices");
        }
        //Add All Services to Invoice - wszystkie Laundriese updatujemy i obliczamy Totalcost
        //Cancel and Back - wtedy cofa się do invoices i kasuje ta fakture, kótra była tworzona
        //Finish/Create - obliczamy total cost Updejtujemy Invoica i cofamy się do invoices



        if (args.Item.Id == "Cancel")
        {
            if (addLaundries.Count == 0)
            {
                await InvoiceService.Delete(int.Parse(InvoiceId));

            }
            else
            {
                foreach (var laundry in addLaundries)
                {
                    await ServiceLaundry.Delete(laundry.Id);

                }
                await InvoiceService.Delete(int.Parse(InvoiceId));

            }
            navigationManager.NavigateTo("/invoices");

        }

        if (args.Item.Id == "Finish")
        {
            Invoice.TotalCost = totalCost;
            await InvoiceService.UpdateInvoice(Invoice);
            navigationManager.NavigateTo("/invoices");

        }

    }
}
<style>
    .e-toolbar-item .e-tbar-btn {
        border: solid;
    }
</style>
