@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@if (AuthenticationService.User != null)
{
    <!-- nav -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
            <NavLink href="users" class="nav-item nav-link">MyAccount</NavLink>
            <NavLink href="companies" class="nav-item nav-link">Companies</NavLink>
            <NavLink href="hotellinens" class="nav-item nav-link">HotelLinens</NavLink>
            <NavLink href="warehauses" class="nav-item nav-link">Warehause</NavLink>
            <NavLink href="laundryservices" class="nav-item nav-link">LaundryService</NavLink>
            <NavLink href="invoices" class="nav-item nav-link">Invoices</NavLink>
            <NavLink href="logout" class="nav-item nav-link">Logout</NavLink>
        </div>
    </nav>
 }
<div class="container">
    @Body
</div>