@page "/400BadRequest"

<div class="center">
    <h1><b>400 Bad Request</b></h1>

    <div class="form-group">
        <a class="btn btn-primary" href='/'>Back to home page</a>
    </div>
</div>
<style>
    .center {
        text-align: center;
    }
</style>