@page "/409Conflict"
    
<div class="center">
        <h1><b>409 Conflict</b>- Your request already exists in the database!</h1>

        <div class="form-group">
            <a class="btn btn-primary" href='/'>Back to home page</a>
        </div>
    </div>
    <style>
        .center {
            text-align: center;
        }
    </style>


