@page "/conflict"

<h1><b>409 Conflict</b>- this linen alredy exist in this warehause!</h1>

<div class="form-group">
    <a class="btn btn-primary" href='/warehauses'>Back to warehauses</a>
</div>

@code {

}
