@page "/valueBelowZero"

<h1><b>400 Bad Request</b> - Inputed value cannot be greather than the valu in the box!</h1>

<div class="form-group">
    @*<a class="btn btn-primary" href='/warehauses'>Back to warehauses</a>*@
    <button type="button" class="btn btn-secondary" href='/warehauses'>Back to warehauses</button>

</div>

@code {

}
