@page "/Companies"
@attribute [Authorize]
@inject ICompanyService CompanyService

<div class="card mt-4">
    <h4 class="card-header">Companies</h4>
    <div class="card-body">
        <h6>Company data</h6>
        @if (loading)
        {
            <div class="spinner-border spinner-border-sm"></div>
        }
        @if (companies != null)
        {
            <ul>
                @foreach (var company in companies)
                {
                    <li>@company.Name</li>
                }
            </ul>
         }
    </div>
</div>

@code { private bool loading;
    private IEnumerable<Models.Company> companies;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        companies = await CompanyService.GetAll();
        loading = false;
    } }
