@page "/Warehauses"
@attribute [Authorize]
@inject IWarehauseService WarehauseService

<div>
    <a class="btn btn-primary" href='/addWarehause'>Add</a>
</div>


<div class="center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Warehause Number
                </th>
            </tr>
        </thead>
        <tbody>
            @if (loading)
            {
                <div class="spinner-border spinner-border-sm"></div>
            }
            @if (warehauses != null)
            {

                @foreach (var warehause in warehauses)
                {
                    <tr>
                        <th scope="row">@warehause.Name</th>
                        <td>@warehause.WarehauseNumber</td>
                        <td>
                            <a class="btn btn-primary" href='/viewWarehauseDetails/@warehause.Id'>View</a>|
                            <a class="btn btn-primary" href='/warhause/@warehause.Id'>Edit</a>Delete
                            @*<a class="btn btn-danger" @onclick="() => DeleteHotelLinen(hotelLinen.Id)">Delete</a>*@
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>

@code {

    private bool loading;
    private IEnumerable<Models.Warehause> warehauses;


    protected override async Task OnInitializedAsync()
    {
        loading = true;
        warehauses = await WarehauseService.GetAll();
        loading = false;
    }
}
